.card-aluno {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 5px;               
    width: 280px;
    padding: 20px;
    margin: 15px; 
    background-color: rgba(60, 70, 75, 0.9); 
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 0.3s;
}

.card-aluno:hover {
    background-color: rgba(80, 95, 100, 1);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.5);
    border-color: #00d4ff; 
}

.card-alunoimg {
    width: 100%;
    height: 180px; 
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card-aluno__image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.card-aluno h2 {
    margin: 10px 0;
    color: #00d4ff; 
    font-size: 1.5;
}

.card-aluno p {
    margin: 2px 0;
    opacity: 0.9;
}

.card-aluno strong {
    color: #ccc;
}
